@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import "Animation";

$color-principal: #393e46;
$color-letra: #FFFFFF;
$color-navbar: #222831;

body{    
    background-color: $color-principal;
    margin: 0;
    padding: 0;
    // font-family: 'Roboto', sans-serif;
}

.courgette {
    font-family: 'Courgette', cursive;
}

.text-logo{
    font-size: xx-large;
}

.text-black{
    color: #000000;
}

nav{
    background-color: $color-navbar;
}

.navbar{
    padding: 2rem 1rem;    
}

.navbar-toggler{
    border: solid 1px #FFFFFF;
}

@mixin animation-underline {
    :after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #FFFFFF;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    :hover:after { 
        width: 100%; 
        left: 0; 
    }
}

.nav-item {
    color: $color-letra;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;

    @include animation-underline;
}

ul{
    list-style: none;
}

footer{
    color: $color-letra;
    border-top: 1px solid #2C345969;
    padding: 20px;

    a{
        color: $color-letra;

        :hover{
            color: $color-letra;
        }
    }
}

.divider{
    border-bottom: 4px solid #fff;
    width: 10rem;
    margin-top: 0;
    margin-bottom: 0%;
}