<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Luxury | Habitacion</title>
    
    <meta name="description" content="Disfrute una estadía inolvidable en el Hotel Luxury, que ofrece excelente gastronomía regional, entretenimientos para todo el publico y una ubicación próxima a atracciones culturales de la ciudad. Haga su reserva.">

    <meta name="keywords" content="Hotel Luxury, Luxury, Reserva, Hoteles, Estadia, Habitaciones, Hotel en Buenos Aires, SPA, Piscina, Comida regional, Gastronomia">
    
    <!-- libreria bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <!-- libreria ion icon -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    <!-- libreria AOS animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <!-- libreria lightbox -->
    <link rel="stylesheet" href="../node_modules/lightbox2/dist/css/lightbox.min.css">
    <script src="../node_modules/lightbox2/dist/js/lightbox.min.js"></script>

    <script>
      $(document).ready(function(){
          AOS.init();

          lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
          })
      });

      $(window).scroll(function() {

          let position = $(this).scrollTop();

          if (position >= 100) {
              $('.navbar').addClass('costum-navbar');
          } else {
              $('.navbar').removeClass('costum-navbar');
          }
      });
  </script>
  
  <!-- estilos propios -->
  <link rel="stylesheet" href="../css/Habitaciones.min.css">
  <link rel="stylesheet" href="../css/Layout.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand text-decoration-none" href="../Index.html">
            <span class="text-white text-logo">Hotel Austral</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon size="large" name="menu-outline" class="text-white"></ion-icon>
        </button>
      
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item active">
              <a class="nav-link m-2 text-white" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 text-white" href="habitaciones.html">Habitaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 text-white" href="servicios.html">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 text-white" href="reservas.html">Reservas</a>
            </li>
            <li class="nav-item dropleft">
              <a class="nav-link m-2 dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Español
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Español</a>
                <a class="dropdown-item" href="#">Ingles</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>

    <!-- habitaciones comunes -->
    <section class="parallax parallax-imagen-1 text-center">
        <div class="parallax-content" data-aos="fade-up" data-aos-duration="2000" >
            <label class="text-white parallax-content-size">Habitaciones clasicas</label>
            <hr class="divider">
        </div>
    </section>

    <section class="container-fluid py-4" id="comun">
        <div class="row">
            <div class="col-md-3">   
              <a href="../img/clasica-1-habitacion.png" class="img-hover" data-lightbox="comun" data-title="Habitacion King">
                <img class="w-100 aparecer" src="../img/clasica-1-habitacion.png" alt="Habitacion King" loading="lazy">       
              </a>      
            </div>
            <div class="col-md-3">        
              <a href="../img/clasica-2-habitacion.png" class="img-hover" data-lightbox="comun" data-title="Habitacion King">
                <img class="w-100 aparecer" src="../img/clasica-2-habitacion.png" alt="Habitacion King" loading="lazy">      
              </a>
            </div>
            <div class="col-md-3">          
              <a href="../img/clasica-3-habitacion.png" class="img-hover" data-lightbox="comun" data-title="Habitacion King Doble">
                <img class="w-100 aparecer" src="../img/clasica-3-habitacion.png" alt="Habitacion King Doble" loading="lazy">     
              </a>          
            </div>
            <div class="col-md-3">         
              <a href="../img/clasica-4-habitacion.png" class="img-hover" data-lightbox="comun" data-title=" Habitacion King">
                <img class="w-100 aparecer" src="../img/clasica-4-habitacion.png" alt="Habitacion King" loading="lazy">  
              </a>        
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">        
              <a href="../img/clasica-5-habitacion.png" class="img-hover" data-lightbox="comun" data-title="Habitacion King Doble">
                <img class="w-100 aparecer" src="../img/clasica-5-habitacion.png" alt="Habitacion King Doble" loading="lazy">  
              </a>
            </div>
            <div class="col-md-3">        
              <a href="../img/clasica-6-habitacion.png" class="img-hover" data-lightbox="comun" data-title="Habitacion King Doble">
                <img class="w-100 aparecer" src="../img/clasica-6-habitacion.png" alt="Habitacion King Doble" loading="lazy">  
              </a>
            </div>
            <div class="col-md-3">        
              <a href="../img/clasica-7-habitacion.png" class="img-hover" data-lightbox="comun" data-title="Habitacion King Doble">
                <img class="w-100 aparecer" src="../img/clasica-7-habitacion.png" alt="Habitacion King Doble" loading="lazy">  
              </a>
            </div>
        </div>
    </section>

    <section class="container-fluid py-4" id="comunCarousel">

        <div class="row">
            <div class="col-sm-12">
                <div id="carousel1" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel1" data-slide-to="1"></li>
                      <li data-target="#carousel1" data-slide-to="2"></li>
                      <li data-target="#carousel1" data-slide-to="3"></li>
                      <li data-target="#carousel1" data-slide-to="4"></li>
                      <li data-target="#carousel1" data-slide-to="5"></li>
                      <li data-target="#carousel1" data-slide-to="6"></li>
                      <li data-target="#carousel1" data-slide-to="7"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="w-100" src="../img/clasica-1-habitacion.png" alt="Habitacion clasica" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/clasica-2-habitacion.png" alt="Habitacion clasica" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/clasica-3-habitacion.png" alt="Habitacion clasica" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/clasica-4-habitacion.png" alt="Habitacion clasica" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/clasica-5-habitacion.png" alt="Habitacion clasica" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/clasica-5-habitacion.png" alt="Habitacion clasica" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/clasica-7-habitacion.png" alt="Habitacion clasica" loading="lazy">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- habitaciones suites -->
    <section class="parallax parallax-imagen-2 text-center">
        <div class="parallax-content" data-aos="fade-up" data-aos-duration="2000">
            <label class="text-white parallax-content-size">Suites</label>
            <hr class="divider">
        </div>
    </section>

    <section class="container-fluid py-4" id="suites">
        <div class="row">
            <div class="col-md-3"> 
              <a href="../img/suites-1-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Deluxe">
                <img class="w-100 aparecer" src="../img/suites-1-habitacion.png" alt="Suite Deluxe" loading="lazy">       
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-2-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Deluxe">
                <img class="w-100 aparecer" src="../img/suites-2-habitacion.png" alt="Suite Deluxe" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-3-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Presidencial">
                <img class="w-100 aparecer" src="../img/suites-3-habitacion.png" alt="Suite Presidencial" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-4-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Presidencial">
                <img class="w-100 aparecer" src="../img/suites-4-habitacion.png" alt="Suite Presidencial" loading="lazy">
              </a> 
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"> 
              <a href="../img/suites-5-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Presidencial">
                <img class="w-100 aparecer" src="../img/suites-5-habitacion.png" alt="Suite Presidencial" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-6-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Deluxe">
                <img class="w-100 aparecer" src="../img/suites-6-habitacion.png" alt="Suite Deluxe" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-7-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Deluxe">
                <img class="w-100 aparecer" src="../img/suites-7-habitacion.png" alt="Suite Deluxe" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-8-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Presidencial">
                <img class="w-100 aparecer" src="../img/suites-8-habitacion.png" alt="Suite Presidencial" loading="lazy">
              </a> 
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"> 
              <a href="../img/suites-9-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Ejecutiva">
                <img class="w-100 aparecer" src="../img/suites-9-habitacion.png" alt="Suite Ejecutiva" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-10-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Ejecutiva">
                <img class="w-100 aparecer" src="../img/suites-10-habitacion.png" alt="Suite Ejecutiva" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-11-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Ejecutiva">
                <img class="w-100 aparecer" src="../img/suites-11-habitacion.png" alt="Suite Ejecutiva" loading="lazy">
              </a> 
            </div>
            <div class="col-md-3"> 
              <a href="../img/suites-12-habitacion.png" class="img-hover" data-lightbox="suites" data-title="Suite Ejecutiva">
                <img class="w-100 aparecer" src="../img/suites-12-habitacion.png" alt="Suite Ejecutiva" loading="lazy">
              </a> 
            </div>
        </div>
    </section>

    <section class="container-fluid py-4" id="suitesCarousel">

        <div class="row">
            <div class="col-sm-12">
                <div id="carousel2" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel2" data-slide-to="1"></li>
                      <li data-target="#carousel2" data-slide-to="2"></li>
                      <li data-target="#carousel2" data-slide-to="3"></li>
                      <li data-target="#carousel2" data-slide-to="4"></li>
                      <li data-target="#carousel2" data-slide-to="5"></li>
                      <li data-target="#carousel2" data-slide-to="6"></li>
                      <li data-target="#carousel2" data-slide-to="7"></li>
                      <li data-target="#carousel2" data-slide-to="8"></li>
                      <li data-target="#carousel2" data-slide-to="9"></li>
                      <li data-target="#carousel2" data-slide-to="10"></li>
                      <li data-target="#carousel2" data-slide-to="11"></li>
                      <li data-target="#carousel2" data-slide-to="12"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="w-100" src="../img/suites-1-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-2-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-3-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-4-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-5-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-6-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-7-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-8-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-9-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-10-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-11-habitacion.png" alt="suites" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="w-100" src="../img/suites-12-habitacion.png" alt="suites" loading="lazy">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="container">
        <div class="row">
            <div class="col-12 text-center d-flex justify-content-center">
                <a href="#" class="icon-footer">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a href="#" class="icon-footer">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#" class="icon-footer">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
                <a href="#" class="icon-footer">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </div>
            <div class="col-md-12 text-center text-white">
                <p>
                    © 2020 All Rights Reserved
                </p>        
            </div>
        </div>
    </footer>
</body>
</html>